#textdomain wesnoth-War_of_the_Jewel

######################## FLAT

[terrain_type]
    symbol_image=pavement/maatkarian-road
    editor_image=pavement/maatkarian-road
    id=maatkare_road
    name = _ "Maat'Karian Pavement"
    editor_name= _ "Maat'Karian Pavement"
    string=Rmp
    aliasof=Gt
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=pavement/stone-path
    id=maatkarian_stone_path
    name = _ "Overgrown Maat'Karian Pavement"
    editor_name= _ "Overgrown Maat'Karian Pavement"
    string=Rmo
    aliasof=Gt
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=chasm/abyss
    editor_image=chasm/abyss-tile
    id=abyss
    name= _ "Dream Plane"
    editor_name= _ "Dream Plane"
    string=Qxdp
    aliasof=Gt
    editor_group=War-of-the-Jewel
[/terrain_type]

##################### LANDSCAPE

[terrain_type]
    symbol_image=snow/tundra1
    id=Tundra
    name= _ "Tundra"
    string=Tyb
    aliasof=Aa
    mvt_alias="Gg,Re,Dt"
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=blood
    id=blood_lake
    name= _ "Blood"
    string=Wwb
    aliasof=Wst
    submerge=0.5
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=void/void
    editor_image=scenery/desert-tile
    id=wotj_redrock
    name= _ "Red Rock"
    editor_name= _ "Red Rock"
    string=Arrw
    aliasof=Xt
    editor_group=War-of-the-Jewel
[/terrain_type]

################### CASTLE/KEEP

[terrain_type]
    symbol_image=castle/windsong-keep-tile
    id=windsong_keep
    name= _ "Windsong Keep"
    editor_name= _ "Windsong Keep"
    string=Kw
    aliasof=Ct
    unit_height_adjust=20
    recruit_from=true
    recruit_onto=true
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=castle/windsong-ruin-keep-tile
    id=windsong_keep_ruined
    name= _ "Ruined Windsong Keep"
    editor_name= _ "Ruined Windsong Keep"
    string=Kwr
    aliasof=Ct
    unit_height_adjust=20
    recruit_from=true
    recruit_onto=true
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=castle/windsong-tile
    id=windsong_castle
    name= _ "Windsong Castle"
    editor_name= _ "Windsong Castle"
    string=Cw
    aliasof=Ct
    unit_height_adjust=3
    recruit_onto=true
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=castle/windsong-ruin-tile
    id=windsong_castle_ruin
    name= _ "Ruined Windsong Castle"
    editor_name= _ "Ruined Windsong Castle"
    string=Cwr
    aliasof=Ct
    unit_height_adjust=3
    recruit_onto=true
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=castle/arajunna-tile
    id=arajunnan_castle
    name= _ "Arajunnan Castle"
    editor_name= _ "Arajunnan Castle"
    string=Car
    aliasof=Ct
    unit_height_adjust=3
    recruit_onto=true
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=castle/arajunna-keep-tile
    id=arajunnan_keep
    name= _ "Arajunnan Keep"
    editor_name= _ "Arajunnan Keep"
    string=Kar
    aliasof=Ct
    unit_height_adjust=20
    recruit_from=true
    recruit_onto=true
    editor_group=War-of-the-Jewel
[/terrain_type]

################################ WALLS

[terrain_type]
    symbol_image=wall/maatkarian-wall-tile
    editor_image=wall/maatkarian-wall-tile
    id=maatkarian-wall
    name= _ "Maat'Karian Wall"
    editor_name= _ "Maat'Karian Wall"
    string=Xmw
    aliasof=Xt
    editor_group=War-of-the-Jewel
[/terrain_type]

################################### VILLAGES

[terrain_type]
    symbol_image=village/arajunna-tile
    id=arajunnan_village
    name= _ "Arajunnan Village"
    editor_name= _ "Arajunnan Village (random)"
    string=^Var
    aliasof=_bas, Vt
    default_base=Gs
    heals=8
    gives_income=true
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=village/desert-tile
    id=desert_village_maatkarian
    name= _ "Maat'Karian Village"
    editor_name= _ "Maat'Karian Village"
    string=^Vdm
    aliasof=_bas, Vt
    default_base=Rmo
    heals=8
    gives_income=true
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=cave/beam-tile
    id=light_cave_village
    name= _ "Light Village"
    editor_name= _ "Light Village"
    string=^Vcl
    aliasof=_bas, Vt
    heals=10
    gives_income=true
    editor_group=War-of-the-Jewel
[/terrain_type]

##################################### FIRES

[terrain_type]
    symbol_image=fire/fire-big-forest-A01
    id=fire-big-forest
    name= _ "Big Forest Conflagration"
    editor_name= _ "Big Forest Conflagration"
    string=^Xff
    aliasof=Xt
    default_base=Gd
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=fire/flame-big-A01
    id=fire-big
    name= _ "Conflagration"
    editor_name= _ "Conflagration"
    string=^Xfw
    aliasof=Xt
    default_base=Gd
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=fire/fire-big-village-A01
    id=fire-big-village
    name= _ "Big Village Conflagration"
    editor_name= _ "Big Village Conflagration"
    string=^Xfv
    aliasof=Xt
    default_base=Rrc
    editor_group=War-of-the-Jewel
[/terrain_type]

################################# STATUES

[terrain_type]
    symbol_image="statues/statue-of-myra"
    id=myra_statue
    name=_ "Statue of Myra"
    string=^Ys
    aliasof=Xt
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image="statues/statue-of-maat"
    id=maat_statue
    name=_ "Statue of Maat"
    string=^Ta
    aliasof=Xt
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image="statues/ravyan-statue"
    id=ravyan-statue
    name=_ "Statue of Ravyan"
    string=^Rs
    aliasof=Xt
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image="statues/aldrik-statue"
    id=aldrik-statue
    name=_ "Statue of Aldrik"
    string=^As
    aliasof=Xt
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image="statues/tarkyn-statue"
    id=tarkn-statue
    name=_ "Statue of Tarkyn"
    string=^Ts
    aliasof=Xt
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image="statues/vanadya-statue"
    id=vanadya-statue
    name=_ "Statue of Vanadya"
    string=^Vs
    aliasof=Xt
    editor_group=War-of-the-Jewel
[/terrain_type]

###################### SKIRONIAN ARCHITECTURE

[terrain_type]
    symbol_image=skiron/castle-tile
    id=skiron_castle
    name= _ "Skironian Castle"
    editor_name= _ "Skironian Castle"
    string=Cski
    aliasof=Ct
    unit_height_adjust=3
    recruit_onto=true
    editor_group=War-of-the-Jewel
[/terrain_type]

[terrain_type]
    symbol_image=skiron/keep-tile
    id=skiron_keep
    name= _ "Skironian Keep"
    editor_name= _ "Skironian Keep"
    string=Kski
    aliasof=Ct
    unit_height_adjust=20
    recruit_from=true
    recruit_onto=true
    editor_group=War-of-the-Jewel
[/terrain_type]
