#textdomain wesnoth-War_of_the_Jewel

[unit_type]
    id=Mage Aanebet
    name= _ "Mage A'anebet"
    race=maatkarian
    gender=female
    image="units/heroes/sorceress.png"

    [leading_anim]
        start_time=-150
        [frame]
            image="units/heroes/sorceress-attack-ranged.png:300"
        [/frame]
    [/leading_anim]
    hitpoints=52
    movement_type=maatkarianlightfoot
    movement=6
    experience=50 # Just so that her special amla is more accessible
    level=3
    alignment=lawful
    advances_to=null
    cost=64

    {AMLA_OPTION_FIRECLAWS}
    {AMLA_OPTION_FIGHTER}
    {AMLA_OPTION_CRIMSONMASTER}
    {AMLA_OPTION_MERITATEN}
    {AMLA_OPTION_LIFE_INCREASE}

    usage=mixed fighter
    description= _ "The mighty Aragwaith Sorceresses are gracile like wind. They can confuse their opponents by standing in front of them, seemingly defenseless; after the attacker hits, they notice their victim is behind them, ready to perform his own killing strike. On the battlefield these sorcerers are fearsome enemies; even their comrades keep an eye on them, carefully, from a safe distance. And so it happens that even the Royal orders of Wesnothian magi treat these noble lores with respect and caution."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_TELEPORT}

    {DEFENSE_ANIM "units/heroes/sorceress-defend.png" "units/heroes/sorceress.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [abilities]
        {ABILITY_INSPIRE_LEVEL_3}
    [/abilities]

    [resistance]
        blade=100
        fire=70
        pierce=100
        impact=100
    [/resistance]

    [attack]
        name=fists
        description=_"fire fists"
        icon=attacks/fist-human-fire.png
        type=fire
        range=melee
        [specials]
            {WEAPON_SPECIAL_COUNTER}
        [/specials]
        damage=7
        number=4
    [/attack]
    [attack]
        name=fireball
        description=_"fire burst"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=11
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fists
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=150
                image="units/heroes/sorceress.png"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=150
                image="units/heroes/sorceress.png"
                sound=fire.wav
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}
        [frame]
            begin=-240
            end=-180
            image="units/heroes/sorceress-attack-ranged.png"
        [/frame]
        [frame]
            begin=-180
            end=-120
            image="units/heroes/sorceress-attack-ranged.png"
            sound=fire.wav
        [/frame]
        [frame]
            begin=-120
            end=60
            image="units/heroes/sorceress-attack-ranged.png"
        [/frame]
    [/attack_anim]
[/unit_type]
