#textdomain wesnoth-War_of_the_Jewel
[unit_type]
    id=Crimson Apprentice
    name= _ "Crimson Apprentice"
    race=maatkarian
    gender=male,female
    image="units/human-magi/mage.png"
    small_profile="portraits-units/crimson-mage.png~SCALE(205,205)"
    profile="portraits-units/crimson-mage.png"

    hitpoints=27
    movement_type=smallfoot
    movement=5
    experience=60
    level=1
    alignment=lawful
    advances_to=Crimson Mage
    cost=21
    usage=mixed fighter
    description= _ "The Maat'Karians owe much of their magical lore to the Windsong: not because of the magic itself - which origins are mainly in the teachings of Myra, Aldrik, the Celestials and the Book of the Dead - but because the Maat'Karian education, as well as its methods of research and storage of knowledge were all developed by the Windsong who left their order to live alongside the other humans in the then newly-built city. In fact, those Windsong, who dedicated themselves to producing, accumulating and teaching new knowledge rather than to learning new spells, inspired the creation of a whole school of magic; one which members are more scholars than mages, even though they do learn the mastery of the fire cipher, the only Windsong spell they were allowed to learn. The apprentices of the Crimson Arts not only are the main responsibles for the maintenance and development of their civilization's wisdom, but they're also amongst their nation's finest defenders, thanks to the incinerating fire balls that they can shower on whoever is foolish enough to attack the People of the Sun."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-magi/mage-defend.png" "units/human-magi/mage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits-units/crimson-mage.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits-units/crimson-mage.png"
    [/portrait]

    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=4
        number=2
    [/attack]
    [attack]
        name=fireball
        description=_"fire burst"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=5
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}

        start_time=-575

        [frame]
            image="units/human-magi/mage.png:50"
        [/frame]
        [frame]
            image="units/human-magi/mage-attack-magic1.png:100"
            sound=fire.wav
        [/frame]
        [frame]
            image="units/human-magi/mage-attack-magic2.png:150"
        [/frame]
        [frame]
            image="units/human-magi/mage-attack-magic1.png:75"
        [/frame]
        [frame]
            image="units/human-magi/mage.png:75"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/human-magi/mage.png:50"
        [/frame]
        [frame]
            image="units/human-magi/mage-attack-staff[1~2].png:[100,200]"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
        [frame]
            image="units/human-magi/mage-attack-magic1.png:50"
        [/frame]
        [frame]
            image="units/human-magi/mage.png:50"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Crimson Mage"
        gender=female
        image="units/human-magi/mage+female.png"
        small_profile="portraits-units/crimson-mage+female.png~SCALE(205,205)"
        profile="portraits-units/crimson-mage+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/human-magi/mage+female-defend.png" "units/human-magi/mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits-units/crimson-mage+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits-units/crimson-mage+female.png"
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=fireball
            [/filter_attack]
            {MISSILE_FRAME_FIREBALL}
            [frame]
                image="units/human-magi/mage+female.png:50"
            [/frame]
            [frame]
                image="units/human-magi/mage+female-attack-magic-1.png:100"
            [/frame]
            [frame]
                image="units/human-magi/mage+female-attack-magic-[2,1].png:[150,75]"
            [/frame]
            [frame]
                image="units/human-magi/mage+female.png:75"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                image="units/human-magi/mage+female.png:50"
            [/frame]
            [frame]
                image="units/human-magi/mage+female-attack-staff[1~2].png:[100,200]"
            [/frame]
            [frame]
                image="units/human-magi/mage+female-attack-magic1.png:50"
            [/frame]
            [frame]
                image="units/human-magi/mage+female.png:50"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
